/*
    Modules
    ---
    Modules are the reusable, modular parts of the design.
    E.G. callouts, sidebar sections, product lists
*/

video {
    position: fixed;
    z-index: -1;
    width: auto;
    min-width: 100%;
    height: auto;
}

.logo {
    width: 100%;
    max-width: 350px;
    //margin: 0 auto 25px auto;
    margin-bottom: 25px;
    padding: 0;
    @include sm {
        padding: 0 25px;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.sub-logo {
    max-width: 50px;
    margin-top: 10px;
    margin-bottom: auto;
    img {
        width: 100%;
        height: auto;
    }
}

.cta {
    position: relative;
    background: $bareboneswhite;
    color: $barebonesblack;
    padding: 8px 14px;
    width: auto;
    //margin: 0 auto;
    &:hover {
        background: $dancanettipink;
        color: $bareboneswhite;
    }
}

.collection-list {
    height: 200px;
    max-width: 500px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 50px;
    padding: 0 25px;
    background: transparent;
    text-align: center;
    h3 {
        text-align: center;
        display: inline-block;
        width: auto;
        margin: 25px auto 0 auto;
        color: $bareboneswhite;
        text-decoration: underline;
        &:hover {
            color: $dancanettipink;
        }
    }
}

.page-body__section__content {
    height: 200px;
    max-width: 500px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 50px;
    padding: 0 25px;
    background: transparent;
    color: $bareboneswhite;
    h2 {
        color: $bareboneswhite;
        margin: 50px 0 25px 0;
    }
    a {
        color: $bareboneswhite;
        text-decoration: underline;
        &:hover {
            color: $dancanettipink;
        }
    }
}