<!doctype html>
<html lang="en">
    <head>
        {% include meta %}
        {% include socialmeta %}
    </head>
    <body class="{{ pageClass }}">
      <div class="wrapper">
        <video src="/vid/bg_vid.mp4" loop muted autoplay></video>
        {{ content }}
        {% include footer %}
      </div>
    </body>
</html>
