<div>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://getbarebones.danielcanetti.com{{ page.url }}" target="_blank">
        Share on Facebook
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ postTitle }}%20by%20@Dan_Canetti%20-%20https://getbarebones.danielcanetti.com{{ page.url }}" target="_blank">
        Share on Twitter
    </a>
</div>