/*
    Main
    ---
    Compiles the .scss partials and creates the final CSS file.
*/
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;600;800&display=swap");
* {
  box-sizing: border-box; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

p {
  margin: 0px; }

/*
    Base
    ---
    Default style rules.
    E.G. html, body, a
*/
* {
  box-sizing: border-box; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

p {
  margin: 0px; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
body {
  font-family: courier, sans-serif;
  font-weight: 300;
  background-color: #fff;
  padding-bottom: 0px;
  overflow: hidden;
  height: 100vh;
  width: 100vw; }

@media screen and (prefers-reduced-motion: reduce) {
  a[href*="#"] {
    scroll-behavior: auto; } }
h1, h2, h3 {
  font-family: "Khula", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  padding: 5vh 0;
  line-height: 1.25;
  letter-spacing: .5rem;
  margin: 0 -.5rem 0 0; }
  @media (max-width: 576px) {
    h1, h2, h3 {
      font-size: 3rem; } }
  h1.--sub, h2.--sub, h3.--sub {
    position: fixed;
    top: 40px;
    left: 55px;
    color: #111;
    font-family: courier, sans-serif;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: .25rem; }

h2, h3 {
  font-family: "Khula", sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  letter-spacing: .25rem;
  color: #111;
  padding: 0;
  margin: 0 0 75px 0; }

h3 {
  font-weight: 800;
  font-size: 1.75rem;
  letter-spacing: .05rem; }

p {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 30px; }
  p img + strong {
    font-size: .75rem; }

a {
  color: #111;
  text-decoration: none;
  position: relative; }
  a:hover {
    cursor: pointer; }

button {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0 0 5px 0;
  margin-top: 10px;
  font-size: 1.25rem;
  color: #111;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1; }
  button:before {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 100%;
    opacity: 0.3;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  button:hover {
    cursor: pointer; }
    button:hover:before {
      opacity: 1;
      background: #F92A82; }

.strong {
  font-weight: 800; }

hr {
  box-shadow: none;
  border: 1px solid #dddddd;
  height: 0px;
  width: 12.5%;
  margin: 75px 0 25px 0px; }

blockquote {
  font-family: courier, sans-serif;
  margin: 75px 75px 5px 75px; }
  blockquote + p {
    font-family: courier, sans-serif;
    margin: 25px 75px 75px 75px;
    color: #111;
    font-size: .7em; }
  @media (max-width: 576px) {
    blockquote {
      margin: 75px 25px 5px 25px; }
      blockquote + p {
        margin: 25px 25px 75px 25px; } }

code {
  font-family: monospace;
  background: rgba(255, 255, 255, 0.1); }

pre {
  padding: 15px;
  margin-top: 35px;
  width: 100%;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.1); }
  pre code {
    font-size: 1rem;
    background: transparent; }

s {
  opacity: 0.5; }

/*
    Layout
    ---
    Layout rules divide the page into sections. Layouts hold one or more modules together.
    E.G. header, footer
*/
.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }
  .wrapper:after {
    content: "";
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.page-body__section {
  position: relative;
  z-index: 2;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .page-body__section.page-body__section__content--sub {
    justify-content: flex-start; }

footer {
  position: relative;
  z-index: 2;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  nav ul li:not(:first-of-type) {
    margin-left: 20px; }
  nav ul li a {
    color: #fff;
    text-decoration: underline; }
    nav ul li a:hover {
      color: #F92A82; }

/*
    Modules
    ---
    Modules are the reusable, modular parts of the design.
    E.G. callouts, sidebar sections, product lists
*/
video {
  position: fixed;
  z-index: -1;
  width: auto;
  min-width: 100%;
  height: auto; }

.logo {
  width: 100%;
  max-width: 350px;
  margin-bottom: 25px;
  padding: 0; }
  @media (max-width: 576px) {
    .logo {
      padding: 0 25px; } }
  .logo img {
    width: 100%;
    height: auto; }

.sub-logo {
  max-width: 50px;
  margin-top: 10px;
  margin-bottom: 50px; }
  .sub-logo img {
    width: 100%;
    height: auto; }

.cta {
  position: relative;
  background: #fff;
  color: #111;
  padding: 8px 14px;
  width: auto; }
  .cta:hover {
    background: #F92A82;
    color: #fff; }

.collection-list {
  height: 200px;
  max-width: 500px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 50px;
  padding: 0 25px;
  background: transparent;
  text-align: center; }
  .collection-list h3 {
    text-align: center;
    display: inline-block;
    width: auto;
    margin: 25px auto 0 auto;
    color: #fff;
    text-decoration: underline; }
    .collection-list h3:hover {
      color: #F92A82; }

.page-body__section__content {
  height: 200px;
  max-width: 500px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 50px;
  padding: 0 25px;
  background: transparent;
  color: #fff; }
  .page-body__section__content h2, .page-body__section__content h3 {
    color: #fff;
    margin: 50px 0 25px 0; }
  .page-body__section__content a {
    color: #fff;
    text-decoration: underline; }
    .page-body__section__content a:hover {
      color: #F92A82; }

.tabs {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: scroll;
  flex-wrap: wrap;
  max-width: 700px;
  background: transparent; }
  .tabs .input {
    position: absolute;
    opacity: 0; }
    .tabs .input:focus + label {
      box-shadow: inset 0px 0px 0px 3px #2aa1c0;
      z-index: 1; }
    .tabs .input:checked + label {
      background: #fff;
      border: 1px solid #fff;
      color: #111; }
      .tabs .input:checked + label + .panel {
        display: block; }
  .tabs .label {
    position: absolute;
    width: 50%;
    padding: 20px 30px;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #fff; }
    .tabs .label:last-of-type {
      right: 0; }
    .tabs .label:hover {
      background: #F92A82;
      color: #fff; }
    .tabs .label:active {
      background: #fff;
      color: #111; }
    @media (max-width: 576px) {
      .tabs .label {
        width: auto; } }
  .tabs .panel {
    display: none;
    padding: 75px 30px 50px 30px;
    background: transparent;
    width: 100%;
    color: #fff; }
    .tabs .panel a {
      color: #fff;
      text-decoration: underline; }
      .tabs .panel a:hover {
        color: #F92A82; }
    @media (max-width: 576px) {
      .tabs .panel {
        order: 99; } }

.page-body__section__content__share a:not(:first-of-type) {
  margin-left: 15px; }

/*
    State
    ---
    ways to describe how our modules or layouts will look when in a particular state.
    E.G. Is it hidden or expanded? Is it active or inactive?
*/

/*# sourceMappingURL=main.css.map */
